<section>
<ul>
  <li class="dropdown">
      <a href="#" class="dropbtn"  routerLink="/signup">Home</a>
            <div class="dropdown-content">
                <a href="#">home 1</a>
                <a href="#">Home 2</a>
                <a href="#">Home 3</a>
            </div>
    </li>
  <li><a href="#">News</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
</ul>
</section>